@use "../../assets/sass/variables" as *;

.card {
  height: 300px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
  color: white;

  &__img {
    width: 100%;
    height: 100%;
    transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.753);
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-in-out;
    padding: 10px;
    clip-path: circle(0% at 100% 100%);
  }

  &:hover .card__description {
    left: 0px;
    transition: all 0.7s ease-in-out;
    clip-path: circle(75%);
  }

  &:hover .card__img {
    transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
  }

  &__header {
    text-align: center;

    letter-spacing: 1px;
    margin: 0px;
    font-size: 1rem;
  }

  &__info {
    margin-top: 0.2rem;
    list-style: none;
    font-style: italic;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
  }

  &__bold {
    font-weight: bold;
    text-decoration: none;
  }

  &__summary {
    margin: 0.6rem 0 0.1rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;

    &--right {
      float: right;
    }
  }

  &__text {
    font-size: 0.7rem;
    line-height: 1rem;
    color: rgb(189, 189, 189);
  }

  &__btn {
    background-color: rgb(190, 167, 167);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
  }
}

@media screen and (min-width: $large) {
  .card {
    flex-basis: auto;
    height: 440px;
    font-size: 0.9rem;

    &__description {
      padding: 1rem;
      display: flex;
      gap: 20px;
    }

    &__header {
      letter-spacing: 1px;
      margin: 0px;
      font-size: 1.5rem;
    }

    &__summary {
      font-size: 0.9rem;
    }

    &__text {
      line-height: 1.2rem;
      font-size: 0.9rem;
    }

    &__info {
      font-size: 0.9rem;
      font-weight: 100;
    }
  }
}
