.movies {
  padding: 2rem;

  &__heading {
    text-align: center;
    margin: 1rem;
    font-size: 1.4rem;
    color: #b4b4b4;
  }

  &__container {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
