@use "../../assets/sass/variables" as *;

.nav {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.39);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid rgba(211, 211, 211, 0.349);

  &__logo {
    height: 1.5rem;
    filter: invert(100%);
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  &__link {
    padding-right: 0.5rem;
    text-decoration: none;
    color: rgb(43, 168, 158);
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1rem;
    transition: 0.3s;

    &:hover {
      color: rgb(221, 221, 221);
    }
  }
}

@media screen and (min-width: $large) {
  .nav {
    padding: 3rem;

    &__logo {
      height: 3rem;
    }

    &__menu {
      gap: 3rem;
    }

    &__link {
      font-size: 1.8rem;
    }
  }
}
